<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>HgmIdA1e6nLzCWuG8KlJUS/Tz54XDwDgZwXIDCgUDRqRAJfubGIemLe5zp+hAsCjWMwgB1XSVjNbsu9BTW9Qwo8vvgTkPD7E+C8+i/hwklJhplBs5nL+88lqKotTt7CmkwzvT5FkYz8bnMFXnf8kagoTDlwURmf0H1evoxJdxfw=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Dglj6eSdZduuNduqj4tweFDOQ+hwPASfNE7Wp2Bg2n8=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>